.profile-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.user-details {
    display: flex;
    flex-direction: column;
}

.user-name {
    font-size: 18px;
    font-weight: bold;
}

.user-date {
    font-size: 14px;
    color: #888;
}