# Default ignored files
/shelf/
/workspace.xml
/admin-system.iml
/commandlinetools/schemas/frameworkDescriptionVersion1.1.4.xsd
/commandlinetools/Laravel_13_10_23_01_14.xml
/modules.xml
/php.xml
/phpunit.xml
/inspectionProfiles/Project_Default.xml
/vcs.xml
